

.body{
	width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}


.botones{
	margin-left: 13%;
}

.btn{
	width: 65%;
}

 .md-fab{
  	    margin-left: 45% !important;
  	    background-color: #66af96 !important;
        width: 40px !important;
        height: 40px !important;
  }


.header{
	height: 90px;
    
}

.footer{
	height: 150px;
    background-color: rgb(197, 195, 195);
}

.titulo{
	
	margin-bottom: 30px;
	color: #66af96;
}



.mensajeError {
    font-family: sourcesanspro;
    font-size: 14px;
    color: #f93a0e;  

}


.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
  margin-bottom: 0; }

 .md-fab{
        margin-left: 45% !important;
        background-color: #66af96 !important;
        width: 40px !important;
        height: 40px !important;
  }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.iconinfo{
  fill: white;
  margin-left: -7px !important
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}