<!DOCTYPE html>
<html ng-app="starter">
<head>
	<title>Iniciar Sesión</title>
	<!-- Latest compiled and minified CSS -->
<meta charset="utf-8">
<link rel="stylesheet" >

<!-- Optional theme -->
<link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="../jquery-3.2.1.min.js" ></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>	

<link rel="stylesheet" href="../Imagenes/iconos-redes/style.css">	
<link rel="stylesheet" type="text/css" href="../menu.css">	
<link rel="stylesheet" href="Login.css">

</head>
<body>   
   <header>
	<div  ng-include="'../menu_publico/menu_publico.html'"></div>
    <a id="redirect" style="display: none;" href="../Home_Transaccional/Home_transaccional.html"></a>   
</header>
   <div class="body"  ng-controller="loginController as vm" id="dialogContainer" >
         <h1 class="titulo">Iniciar sesión</h1>
   	    <div class="row">   	    	
	   	     <div class="form-group col-xs-12 col-sm-12">
	           <label for="usr">Usuario*</label>
	           <input type="text" class="form-control" ng-model="vm.usuario"  ng-keyup="vm.functionUsuario()">
	             <p class="mensajeError"  ng-bind="vm.mensajeUsuario" ></p>
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-12 col-sm-12">
	           <label for="usr">Contraseña*</label>
	           <input type="password" class="form-control" ng-model="vm.contrasena"  ng-keyup="vm.functionContrasena()">
	            <p class="mensajeError"  ng-bind="vm.mensajeContrasena" ></p>
	         </div>
   	    </div>
   	    <div id='recaptcha' class="g-recaptcha"
          data-sitekey="6LeDsDIUAAAAAOTgmn8pB__pcQClFbSno2zA7nvX"
          data-callback="login"
          data-size="invisible"></div>   	  
   	    <div class="row botones">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <button type="button" class="btn btn-success" ng-click="vm.cancelar()">Cancelar</button>
	         </div>
	         <div class="form-group col-xs-6 col-sm-6">
	            <button type="button" id="button1" class="btn btn-success" ng-click="vm.ingresar()">Aceptar</button>
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-12 col-sm-12">
	           <a href="#">¿Olvidaste tu cuenta?</a>	           
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-12 col-sm-12">
	           <a href="../Registrar_usuario/Registrar_usuario.html">Registrate</a>	           
	         </div>
   	    </div>     	 
        <md-content>          
            <div ng-if="status">
               <br/>
            </div>
         </md-content>   
   </div>  
   <div id='spinner' class='spinner'></div>
<!-- inicio  barra social -->
	<div class="social">
		<ul>
			<li><a href="http://www.facebook.com/" target="_blank" class="icon-facebook2"></a></li>
			<li><a href="http://www.twitter.com/" target="_blank" class="icon-twitter"></a></li>
			<li><a href="https://plus.google.com/" target="_blank" class="icon-google-plus2"></a></li>
			<li><a href="#" class="icon-mail"></a></li>
		</ul>
	</div> <!-- fin  barra social -->
   <footer>
   	<div class="footer"></div>
   </footer> 
    <script src="../angular.min.js"></script>
	<script src="../angular-route.min.js"></script>	
	<script src="Login.js"></script>
	<script src="Login.service.js"></script>
	<script src="../jQuery.Spin.js"></script>
</body>
</html>