<!DOCTYPE html>
<html ng-app="starter">
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<meta charset="utf-8">
<link rel="stylesheet" >

<!-- Optional theme -->
<link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="../jquery-3.2.1.min.js" ></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<link rel="stylesheet" href="../Menu.css">
<link rel="stylesheet" href="Mascota.css">
</head>
<body >
   <header>
   	  <div class="header">   
   	    <div class="nav">	     
   	 	 <ul id="nav">
			<li class="subs"><a href="#">Mascotas</a>
                <ul>
				  <li><a href="#">Perdidos</a></li>
				  <li><a href="#">Encontrados</a></li>
				  <li><a href="#">En adopción</a></li>				  
				</ul>
			</li>

			</li>
			<li class="subs"><a href="#s1">Fundaciones</a>
				<ul>
					<li><a href="#">Información</a></li>
					<li><a href="#">Miembros</a></li>
					<li><a href="#">Donaciones</a></li>
			    </ul>
			</li>
			<li class="subs"><a href="#s2">Información de adopciones</a>
			<ul>
				<li><a href="#">Proceso y requisito</a></li>			
			</ul>
			</li>
			<li class="subs"><a href="#s2">Interes</a>
				<ul>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Eventos</a></li>
					<li><a href="#">Cuidados de animales</a></li>
				</ul>
			</li>
			<li ><button class="inicio" href="../Login/Login.html">Iniciar sesión</button></li>
		</ul>
		</div>		
   	  </div>
   </header>  
   <div class="body"  ng-controller="registrarUsuarioController as vm" id="dialogContainer" >
         <h1 class="titulo">Registrar Mascota</h1>
   	    <div class="row">   	    	
	   	     <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Identificador*</label>
	           <input type="text" class="form-control" ng-model="vm.Identificador">
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Nombre*</label>
	           <input type="text" class="form-control" ng-model="vm.Nombre">
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Especie*</label>
	           <input type="text" class="form-control" ng-model="vm.Especie">
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Raza*</label>
	           <input type="text" class="form-control" ng-model="vm.Raza">
	         </div>
   	    </div>
   	     <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Género</label>
	           <input type="text" class="form-control" ng-model="vm.Genero">
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Edad</label>
	           <input type="text" class="form-control" ng-model="vm.Edad">
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Tamaño*</label>
	           <input type="text" class="form-control" ng-model="vm.Tamaño">
	         </div>	         
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Estado*</label>
	           <input type="text" class="form-control" ng-model="vm.Estado">
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Caracteristicas*</label>
	           <input type="text" class="form-control" ng-model="vm.Caracteristicas">
	         </div>
   	    </div>
   	     <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">vacunas*</label>
	           <input type="text" class="form-control" ng-model="vm.vacunas">
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Fecha de Nacimiento*</label>
	           <input type="text" class="form-control" ng-model="vm.fechaN">
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Señales*</label>
	           <input type="text" class="form-control" ng-model="vm.Señales">
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Color*</label>
	           <input type="text" class="form-control" ng-model="vm.Color">
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Colorojos*</label>
	           <input type="text" class="form-control" ng-model="vm.Colorojos">
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Personalidad*</label>
	           <input type="text" class="form-control" ng-model="vm.Personalidad">
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Estado de Salud*</label>
	           <input type="text" class="form-control" ng-model="vm.estadosalud">
	         </div>
	        
   	    </div>
   	    <div class="row botones">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <button type="button" class="btn btn-success">Cancelar</button>
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	            <button type="button" class="btn btn-success" ng-click="vm.registrarUsuario()">Aceptar</button>
	         </div>
   	    </div>
   	 
        <md-content>       
          
            <div ng-if="status">
               <br/>
               <b layout="row" layout-align="center center" class="md-padding">
                  {{status}}
               </b>
            </div>
         </md-content>   
       </div>
    
</div>
   <footer>
   	<div class="footer"></div>
   </footer> 
 <!--  <script src="../angular.min.js"></script>-->
	<script src="../angular-route.min.js"></script>
	<script src="Registrar_usuario.js"></script>
	<script src="Registrar_usuario.service.js"></script>
	<!--
	<script src="prueba.js"></script>-->
</body>
</html>