<!DOCTYPE html>
<html ng-app="starter">
<head>
	<title>Usuarios</title>
	<!-- Latest compiled and minified CSS -->
<meta charset="utf-8">
<link rel="stylesheet" >

<!-- Optional theme -->
<link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="../jquery-3.2.1.min.js" ></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
<script src="../librerias/ngMask.js"></script>

<link rel="stylesheet" href="../Imagenes/iconos-redes/style.css">
<link rel="stylesheet" href="../estilo-menu.css">
<link rel="stylesheet" href="Usuario.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body >
   
	<header>
   	  <div class="header">   
   	    <div class="nav">	     
   	 	 <ul id="nav">

			<li class="subs">
				<a href="#"><span class="primero"><i class="menu">Adoptar o apadrinar</i></span>Adoptar o apadrinar</a>

                <ul>
				  <li><a href="#">Adoptar</a></li>
				  <li><a href="#">Apadrinar</a></li>
				  <li><a href="#">Estado y revisión del proceso</a></li>				  
				</ul>
			</li>

			<li class="subs">
				<a href="#s1"><span class="segundo"><i class="menu">Mi Perfil</i></span>Mi Perfil</a></li>

			<li class="subs">
				<a href="#s2"><span class="tercero"><i class="menu">Mis mascotas</i></span>Mis mascotas</a>
				<ul>
					<li><a href="../Mascotas/Registrar_mascota.html">Registro de mascotas</a></li>			
				</ul>
			</li>

			<li class="subs">
				<a href="../Fundaciones/Fundacion.html"><span class="cuarto"><i class="menu">Fundaciones</i></span>Fundaciones</a>
				<ul>
					<li><a href="#">Adopciones</a></li>
					<li><a href="#">Eventos</a></li>
					<li><a href="#">Colaboradores</a></li>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Donaciones</a></li>
					<li><a href="#">Reportes y estadisticas</a></li>
				</ul>
			</li>

			 <li class="subs">
			 	<a href="#s2"><span class="quinto"><i class="menu">Administración</i></span>Administración</a>

				  <ul>
				    <li><a href="../Roles/Rol.html">Roles</a></li>
				    <li><a href="../Usuarios/Usuario.html">Usuarios</a></li>
				  </ul>
			</li>

			<li class="subs">
				<a class="inicio" href="../Home_publico/Home_publico.html"><span class="tercero"><i class="menu">Cerrar sesión</i></span>Cerrar sesión</a></li>
		</ul>
		</div>		
   	  </div>
   </header>





   <div class="body"  ng-controller="UsuarioController as vm" id="dialogContainer" >
         <h1 class="titulo">Usuario</h1>
   	    <div class="row">   	    	
	   	     <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Primer nombre*</label>
	           <input type="text" class="form-control" ng-model="vm.nombre1" maxlength="20" ng-keyup="vm.functionNombre1()">
	           <p class="mensajeError"  ng-bind="vm.mensajeNombre1" ></p>
	         </div>	
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Segundo nombre</label>
	           <input type="text" class="form-control" ng-model="vm.nombre2" maxlength="20" ng-keyup="vm.functionNombre2()">
	           <p class="mensajeError"  ng-bind="vm.mensajeNombre2" ></p>
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Primer apellido*</label>
	           <input type="text" class="form-control" ng-model="vm.apellido1" maxlength="20" ng-keyup="vm.functionApellido1()">
	           <p class="mensajeError"  ng-bind="vm.mensajeApellido1" ></p>
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Segundo apellido</label>
	           <input type="text" class="form-control" ng-model="vm.apellido2" maxlength="20" ng-keyup="vm.functionApellido2()">
	           <p class="mensajeError"  ng-bind="vm.mensajeApellido2"></p>
	         </div>
   	    </div>
   	     <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Télefono fijo</label>
	           <input type="text" class="form-control" ng-model="vm.telefonoFijo" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="9" ng-keyup="vm.functionTelefonoFijo()" mask="999 99 99">
	           <p class="mensajeError"  ng-bind="vm.mensajeTelefonoFijo"></p>
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Télefono movil</label>
	           <input type="text"  ng-keyup="vm.functionTelefonoMovil()" class="form-control" ng-model="vm.telefonoMovil" oninput="this.value=this.value.replace(/[^0-9]/g,'');"  mask="999 999 99 99">
	             <p class="mensajeError"  ng-bind="vm.mensajeTelefonoMovil"></p>
	         </div>
   	    </div>
   	   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	            <label for="usr">Rol*</label>
                <select class="form-control" ng-model="vm.rol"  ng-change="vm.FunctionRol()" >
                  <option value="0" ng-selected="true">Seleccione un rol...</option>
                  <option value="1">Administrador</option>
                  <option value="2">Administrador de la fundación</option>
                  <option value="3">Colaborador</option>
                  <option value="4">Visitante</option>                
                </select>	         
	            <p class="mensajeError"  ng-bind="vm.mensajeRol"></p>	         
	         </div>
	         <div class="form-group col-xs-6 col-sm-6">	         	
	            <label>Estado*</label>
                  <md-radio-group ng-model="vm.estado" ng-change="vm.functionEstado($event)">
				      <md-radio-button value="1" class="md-primary">Activo</md-radio-button>
				      <md-radio-button value="2">Inactivo</md-radio-button>				
                  </md-radio-group>	    
	         </div>
	     </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	            <label for="usr">Pregunta de seguridad*</label>
                <select class="form-control" ng-model="vm.preguntaSeguridad"  ng-change="vm.FunctionPreguntaSeguridad()" >
                  <option value="1" ng-selected="true">Seleccione una pregunta...</option>
                  <option value="2">¿Cuál es su comida favorita?</option>
                  <option value="3">¿Cuál es el segundo nombre de su padre?</option>
                  <option value="4">¿Cuál es su Canción preferida?</option>
                  <option value="5">¿Cuál es el nombre de su mascota?</option>	
                </select>	         
	            <p class="mensajeError"  ng-bind="vm.mensajePreguntaSeguridad"></p>	         
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Respuesta*</label>
	           <input type="text" class="form-control" ng-model="vm.respuesta" maxlength="30" ng-keyup="vm.functionRespuesta()">
	            <p class="mensajeError"  ng-bind="vm.mensajeRespuesta"></p>         
	         </div>
   	    </div>
   	    <div class="row">
   	       <md-button class="md-fab">
   	         <ng-md-icon icon="info_outline" size="42" class="iconinfo" ></ng-md-icon>
            <md-tooltip  md-direction="top">            
               <p>Tu contraseña debe tener entre 8 y 12 caracteres. Debe contener al menos una letra en mayúscula y una minuscula. Debe tener al menos un número del 0 al 9 y caracteres especiales.<br>
               </p>
            </md-tooltip>            
          </md-button>   	    	
   	    </div>
   	     <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Contraseña*</label>
	           <input type="password" class="form-control" ng-model="vm.contrasena" maxlength="20" ng-keyup="vm.functionContrasena()">
	            <p class="mensajeError"  ng-bind="vm.mensajeContrasena"></p>	       
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Confirmar Contraseña*</label>
	           <input type="password" class="form-control" ng-model="vm.confirmarContrasena" maxlength="20" ng-keyup="vm.functionConfirmarContrasena()">
	           <p class="mensajeError"  ng-bind="vm.mensajeConfirmarContrasena"></p>	          
	         </div>
   	    </div>
   	    <div class="row botones">
   	    	 <div class="form-group col-xs-3 col-sm-3">
	            <button type="button" class="btn btn-success" ng-disabled="vm.DisabledConsultar" ng-click="vm.consultarUsuario()" >Consultar</button>	
	         </div>              
	         <div class="form-group col-xs-3 col-sm-3  email">	       
	              <input type="text" class="form-control" style="" placeholder="Correo electrónico" ng-model="vm.email" ng-disabled="vm.DisabledEmail" maxlength="30" ng-keyup="vm.functionEmail()">
	              <p class="mensajeError"  ng-bind="vm.mensajeEmail"></p>	
	         </div>
	         <div class="form-group col-xs-3 col-sm-3">
	            <button type="button" class="btn btn-success" ng-disabled="vm.DisabledActualizar" ng-click="vm.actualizarUsuario()">Actualizar</button>
	         </div>
	         <div class="form-group col-xs-3 col-sm-3">
	            <button type="button" class="btn btn-success" ng-disabled="vm.DisabledCancelar" ng-click="vm.cancelar()">Cancelar</button>
	         </div>
   	    </div>
        <md-content>       
          
            <div ng-if="status">
               <br/>
            <!--   <b layout="row" layout-align="center center" class="md-padding">
                  {{status}}
               </b>-->
            </div>
         </md-content>   
       </div>

    
</div>

<!-- inicio  barra social -->
	<div class="social">
		<ul>
			<li><a href="http://www.facebook.com/" target="_blank" class="icon-facebook2"></a></li>
			<li><a href="http://www.twitter.com/" target="_blank" class="icon-twitter"></a></li>
			<li><a href="https://plus.google.com/" target="_blank" class="icon-google-plus2"></a></li>
			<li><a href="#" class="icon-mail"></a></li>
		</ul>
	</div> <!-- fin  barra social -->

	
   <footer>
   	<div class="footer"></div>
   </footer> 
 <!--  <script src="../angular.min.js"></script>-->
	<script src="../angular-route.min.js"></script>
	<script src="Usuario.js"></script>
	<script src="Usuario.service.js"></script>
	<!--
	<script src="prueba.js"></script>-->
</body>
</html>