html, body {
  background-color: #f9f9f9;
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #444;
  font-family: RobotoDraft, Roboto, sans-serif;
  font-size: 14px;
  /* Makes font rendering look closer to illustrator (crisp). */
  -webkit-font-smoothing: antialiased;
}

body {
  overflow: hidden;
  overflow-y: auto;
}
