<!DOCTYPE html>
<html ng-app="starter">
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
<meta charset="utf-8">
<link rel="stylesheet" >

<!-- Optional theme -->
<link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="../jquery-3.2.1.min.js" ></script>
<script src="../bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<link rel="stylesheet" href="../Menu.css">
<link rel="stylesheet" href="Registrar_usuario.css">
</head>
<body >
   <header>
   	  <div class="header">   
   	    <div class="nav">	     
   	 	 <ul id="nav">
			<li class="subs"><a href="#">Mascotas</a>
                <ul>
				  <li><a href="#">Perdidos</a></li>
				  <li><a href="#">Encontrados</a></li>
				  <li><a href="#">En adopción</a></li>				  
				</ul>
			</li>

			</li>
			<li class="subs"><a href="#s1">Fundaciones</a>
				<ul>
					<li><a href="#">Información</a></li>
					<li><a href="#">Miembros</a></li>
					<li><a href="#">Donaciones</a></li>
			    </ul>
			</li>
			<li class="subs"><a href="#s2">Información de adopciones</a>
			<ul>
				<li><a href="#">Proceso y requisito</a></li>			
			</ul>
			</li>
			<li class="subs"><a href="#s2">Interes</a>
				<ul>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Eventos</a></li>
					<li><a href="#">Cuidados de animales</a></li>
				</ul>
			</li>
			<li ><a class="inicio" href="../Login/Login.html">Iniciar sesión</a></li>
		</ul>
		</div>		
   	  </div>
   </header>  
   <div class="body"  ng-controller="registrarUsuarioController as vm" id="dialogContainer" >
         <h1 class="titulo">Registrar usuario</h1>
   	    <div class="row">   	    	
	   	     <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Primer nombre*</label>
	           <input type="text" class="form-control" ng-model="vm.nombre1" maxlength="20" ng-keyup="vm.functionNombre1()">
	           <p class="mensajeError"  ng-bind="vm.mensajeNombre1" ></p>
	         </div>	
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Segundo nombre</label>
	           <input type="text" class="form-control" ng-model="vm.nombre2" maxlength="20" ng-keyup="vm.functionNombre2()">
	           <p class="mensajeError"  ng-bind="vm.mensajeNombre2" ></p>
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Primer apellido*</label>
	           <input type="text" class="form-control" ng-model="vm.apellido1" maxlength="20" ng-keyup="vm.functionApellido1()">
	           <p class="mensajeError"  ng-bind="vm.mensajeApellido1" ></p>
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Segundo apellido</label>
	           <input type="text" class="form-control" ng-model="vm.apellido2" maxlength="20" ng-keyup="vm.functionApellido2()">
	           <p class="mensajeError"  ng-bind="vm.mensajeApellido2"></p>
	         </div>
   	    </div>
   	     <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Télefono fijo</label>
	           <input type="text" class="form-control" ng-model="vm.telefonoFijo" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="7" ng-keyup="vm.functionTelefonoFijo()">
	           <p class="mensajeError"  ng-bind="vm.mensajeTelefonoFijo"></p>
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Télefono movil</label>
	           <input type="text"  ng-keyup="vm.functionTelefonoMovil()" class="form-control" ng-model="vm.telefonoMovil" oninput="this.value=this.value.replace(/[^0-9]/g,'');"  maxlength="10" >
	             <p class="mensajeError"  ng-bind="vm.mensajeTelefonoMovil"></p>
	         </div>
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Correo electrónico*</label>
	           <input type="text" class="form-control" ng-model="vm.email" maxlength="30" ng-keyup="vm.functionEmail()">
	           <p class="mensajeError"  ng-bind="vm.mensajeEmail"></p>	        
	         </div>	         
   	    </div>
   	    <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	            <label for="usr">Pregunta de seguridad*</label>
                <select class="form-control" ng-model="vm.preguntaSeguridad" ng-change="vm.functionPreguntaSeguridad()">
                  <option value="1" ng-selected="true">Seleccione una pregunta...</option>
                  <option value="2">¿Cuál es su comida favorita?</option>
                  <option value="3">¿Cuál es el segundo nombre de su padre?</option>
                  <option value="4">¿Cuál es su Canción preferida?</option>          
                  <option value="5">¿Cuál es el nombre de su mascota?</option>	
                </select>	         
	            <p class="mensajeError"  ng-bind="vm.mensajePreguntaSeguridad"></p>	         
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Respuesta*</label>
	           <input type="text" class="form-control" ng-model="vm.respuesta" maxlength="30" ng-keyup="vm.functionRespuesta()">
	            <p class="mensajeError"  ng-bind="vm.mensajeRespuesta"></p>         
	         </div>
   	    </div>
   	     <div class="row">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <label for="usr">Contraseña*</label>
	           <input type="password" class="form-control" ng-model="vm.contrasena" maxlength="10" ng-keyup="vm.functionContrasena()">
	            <p class="mensajeError"  ng-bind="vm.mensajeContrasena"></p>	       
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	           <label for="usr">Confirmar Contraseña*</label>
	           <input type="password" class="form-control" ng-model="vm.confirmarContrasena" maxlength="10" ng-keyup="vm.functionConfirmarContrasena()">
	           <p class="mensajeError"  ng-bind="vm.mensajeConfirmarContrasena"></p>	          
	         </div>
   	    </div>
   	    <div class="row botones">
   	    	 <div class="form-group col-xs-6 col-sm-6">
	           <button type="button" class="btn btn-success">Cancelar</button>
	         </div>
	         <div class="form-group col-xs-6 col-sm-6"">
	            <button type="button" class="btn btn-success" ng-click="vm.registrarUsuario()">Aceptar</button>
	         </div>
   	    </div>
   	 
        <md-content>       
          
            <div ng-if="status">
               <br/>
               <b layout="row" layout-align="center center" class="md-padding">
                  {{status}}
               </b>
            </div>
         </md-content>   
       </div>
    
</div>
   <footer>
   	<div class="footer"></div>
   </footer> 
 <!--  <script src="../angular.min.js"></script>-->
	<script src="../angular-route.min.js"></script>
	<script src="Registrar_usuario.js"></script>
	<script src="Registrar_usuario.service.js"></script>
	<!--
	<script src="prueba.js"></script>-->
</body>
</html>